/* Base Application Styles */
@mixin dis_full{
  width: 100%;
  height: 100%;
}
html,body{
  @include dis_full;
}

#app {
   @include dis_full;
   background-color: #222;
  .stage{
    @include dis_full;
    position:relative;
    .imgs-sec{
      @include dis_full;
      position:relative;
      background-color: #ddd;
    }
    .controller-sec{
      position: absolute;
      bottom:80px;
      left:0;
      width: 100%;
      text-align: center;
      z-index: 101;
      // 调试用
      // height: 100px;
      // background-color: red;
    }  
  }
}

